@font-face {
    font-family: 'Minecraft';
    src: url(https://hosting.altk.xyz/styles/minecraftfont.woff);
}
 
body {
  background-image: url(https://hosting.altk.xyz/styles/89F8FB92-B10E-48A6-8679-EE343C681992.PNG);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1c4b94;
  font-family: 'Verdana';
  text-align: center;
  text-color: white;
}

h1 {
  font-family: 'Minecraft';
}

button {
  font-family: 'Arial';
}
