@font-face {
    font-family: 'Minecraft';
    src: url(https://hosting.altk.xyz/styles/minecraftfont.woff);
}

@font-face {
  font-family: 'Lexend';
  src: url(https://hosting.altk.xyz/styles/Sansation-Regular-webfont.woff);
}
  
body {
  background-image: url("https://drive.google.com/file/d/1FtDFRqkJ1aseeHafnY5ws5iUQ02NiCi8/view");
  background-color: #1c4b94;
  font-family: 'Lexend';
  text-align: center;
}

h1 {
  font-family: 'Minecraft';
}
