@font-face {
    font-family: 'Minecraft';
    src: url(https://hosting.altk.xyz/styles/minecraftfont.woff);
}
 
body {
  background-image: url(https://hosting.altk.xyz/styles/construction.png);
  background-color: #1c4b94;
  font-family: 'Verdana';
  text-align: center;
}

h1 {
  font-family: 'Minecraft';
}

button {
  font-family: 'Arial';
}
