body {
  background: rgba(0, 255, 251,1);
  font-family: arial;
  margin: 0;
  background: linear-gradient(180deg, rgba(255, 0, 238,1) 10%, rgba(0, 255, 251,1) 100%);
}

header a {
  color: white;
}

header {
  background-color: transparent;
  padding: 5px 10px 0px 15px;
}

header h1 {
  margin: 0;
  display: inline;
}

header h2 {
  padding: -10px;
}

nav ul {
  margin: 0;
}

nav ul li {
  color: white;
  background: #6d11d6;
  display: inline-block;
  list-style-type: none;
  padding: 5px 15px;
  border-radius: 5px;
}

p {
  padding: 0px 15px;
}

h3 {
  padding: 0px 15px;
}

h2 {
  padding: 10px 0px 15px 15px;
}

form {
  padding: 10px 0px 15px 15px;
}

.submit {
  padding: 10px 20px 0px 0px;

footer {
  position: relative;
  width: 100%;
  background: #00fffb;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}
