@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

body {
  background: rgba(0, 255, 251, 1);
  font-family: "Poppins", sans-serif;
  margin: 0;
  background: linear-gradient(180deg, rgba(255, 0, 238, 1) 10%, rgba(0, 255, 251, 1) 100%);
  min-height: 100vh;
  max-width:100%;
}

header a {
  color: white;
}

header {
  background-color: transparent;
  padding: 5px 10px 0px 15px;
}

header h1 {
  margin: 0;
  display: inline;
}

header h2 {
  padding: -10px;
}

nav ul {
  margin: 0;
  display: flex; /* Add this line */
}

nav ul li {
  color: white;
  background: #6d11d6;
  list-style-type: none;
  padding: 5px 15px;
  border-radius: 5px;
  margin-right: 10px; /* Add this line */
}

p {
  padding: 0px 15px;
}

h3 {
  padding: 0px 15px;
}

h2 {
  padding: 10px 0px 15px 15px;
}

form {
  padding: 10px 0px 15px 15px;
}

.submit {
  padding: 10px 20px 0px 0px;
  background-color: #00fffb;
  font-family: "Poppins", sans-serif;
}

.footer{
background:#00fffb;
padding:30px 0px;
font-family: 'Play', sans-serif;
text-align:center;
}

.footer .row{
width:100%;
margin:1% 0%;
padding:0.6% 0%;
color:gray;
font-size:0.8em;
}

.footer .icons ion-icon{
  width: 45px !important;
  height: 45px !important;
  padding: 0.7% !important;
}

.footer .icons ion-icon:hover{
  animation: bounce 0.7s infinite;
  color:#ff00ee;
}

.footer .row a{
text-decoration:none;
color:gray;
transition:0.5s;
}

.footer .row a:hover{
color:#fff;
}

.footer .row ul{
width:100%;
}

.footer .row ul li{
display:inline-block;
margin:0px 30px;
}

.footer .row a i{
font-size:2em;
margin:0% 1%;
}

@media (max-width:720px){
.footer{
text-align:left;
padding:5%;
}
.footer .row ul li{
display:block;
margin:10px 0px;
text-align:left;
}
.footer .row a i{
margin:0% 3%;
}
}
@keyframes bounce {
   0%, 100% {
     transform: translateY(0);
   }
   50% {
     transform: translateY(-20px);
   }
}
