body {
  background: rgba(0,86,191,1);
  font-family: arial;
  margin: 0;
}

header a {
  color: white;
}

header {
  background: rgb(147,0,191);
  padding: 15px 15px 0px 15px;
  background: linear-gradient(180deg, rgba(147,0,191,1) 100%, rgba(0,86,191,1) 30%);
}

header h1 {
  margin: 0;
  display: inline;
}

nav ul {
  margin: 0;
}

nav ul li {
  color: white;
  background: #bf6c00;
  display: inline-block;
  list-style-type: none;
  padding: 5px 15px;
  border-radius: 5px;
}

p {
  padding: 0px 15px;
}

h3 {
  padding: 0px 15px;
}

h2 {
  padding: 10px 0px 15px 15px;
}

footer {
  position: absolute;
  clear: both;
  bottom: 100%;
  margin: 1px;
}
